# Hidden Folders
.Rhistory
.ensime_cache/*
src/main/resources/*

# scala stuff
target/*
src/target
project/*
.ensime
*.jar

# emacs backup files
.#*
\#*
*~

# Data Files
*.csv
*.json
*.pdf
*.png

makefile

# Binary Files
*.png
*.pdf
