# Hidden Folders
**/.Rhistory
**/*.RData
.ensime_cache/*
src/main/resources/*

# scala stuff
target/
.ensime
*.jar

# emacs backup files
.#*
\#*
*~

# Rmd Stuff
**/*.rdb
**/*.rdx
**/__packages

# Data Files
*.csv

# other
**/*.pdf
*.json
*.pdf
*.png
data/*

makefile
